#highscores {
    width: 50%;
    float: left;
}

#timer {
    text-align: right;
    width: 50%;
    float: right;
}

#title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#feedback {
    text-align: center;
}

#begintest {
    width: 50%;
    margin: auto;
    text-align: center;
}